@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bodoni-moda: var(--font-bodoni-moda);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.code {
  background: #1a1a24;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 2.5%;
  border: 2px solid #151e47;
}

.tron-segment {
  z-index: 0;
  position: absolute;
  background: cyan;
  box-shadow: none;
  width: 100px;
  transition: opacity 0.3s ease-out;
}

.fade-out {
  opacity: 0;
}
